.head {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
#Logo_Left {
    margin-top: 60px;
    padding-top: -2px;
    float: left;
}
.JASON_STROFF {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-left: 5px;
    text-align: center;
    float: left;
}
#LogoReddit {
    margin-inline-start: 493.5px;
}
.back {
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 15px ;
    height: 26px;
    width: 26px;
}
.Pic {
    float: left;
}
.pic1 {
    height: 600px;
    width: 520px;
}
.Para1 {
    max-width: 502px;
    padding-left: 100px;
}
.Para2 {
    float: left;
}
.word1 {
    padding-bottom: 27px;
}
#P1 {
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
#H1 {
    font-size: 50px;
}
.Number1 {
    color: #f26464;
    margin-top: -2px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 800;
}
.word2 {
    margin-right: 60px;
    margin-top: 2px;
    margin-bottom: 120px;
    font-size: 16px;
    letter-spacing: 1px;
}
.H3 {
    padding-bottom: 5px;
    border-bottom: 3px solid #f26464;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
#H3_0 {
    max-width: 94px;
}
#P2 {
    font-size: 24px;
    font-weight: 350;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 40px;

}

#logoDownLoad {
    height: 50px;
    width: 230px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 41%;
    text-align: center;
    border: 2px solid #f26464;
    background-color: white;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #f26464;
    text-align: center;
    letter-spacing: 3px;
}
#logoDownLoad:hover {
    height: 50px;
    width: 230px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 41%;
    text-align: center;
    background-color: #f26464;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}
#H3_1 {
    max-width: 119px;
    margin-bottom: 35px;
}
#H3_2 {
    max-width: 130px;
    margin-bottom: 35px;
}
.Right {
    width: 660px;
    float: left;
}
.Left {
    width: 600px;
}
.word3 {
    font-size: 18px;
    
}
#Node_js {
    width: 90px;
}
#Vue_js {
    width: 90px;
}
#React {
    width: 90px;
}
#Github {
    width: 90px;
}#HTML {
    width: 90px;
}
#PWAs {
    width: 90px;
}
#Responsive_Web_Design {
    width: 220px;
}
#Vuetify {
    width: 90px;
}
.CoreSkills {
    height: 30px;
    width: 110px;
    font-size: 16px;
    font-weight: 450;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-right: 17px;
    margin-bottom: 15px;
    padding-top: 10px;
    border: 1px solid silver;
    border-radius: 100px;
}
#H3_3 {
    max-width: 174px;
    margin-bottom: 25px;
}
.p_number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 1px;
}
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.IT_Job {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.list_info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 17px;
    max-width: 530px;
}

.list_info > li {
    margin-left: -20px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 8px;
}
#H3_4 {
    max-width: 139px;
    margin-bottom: 20px;
}
.Back_Ground_1 {
    display: inline-block;
    width: 1295px;
    height: 485px;
    background-color: #f6f8fa;
    margin-bottom: 40px;
}
#Title_1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 25px;
}
#P3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    max-width: 530px;
}
.Right_1 {
    width: 550px;
    float: left;
    padding: 45px 68px;
}
.Left_1 {
    width: 400px;
    padding-left: 70px;
    padding-top: 45px;
}
#DETAILS {
    height: 50px;
    width: 135px;
    margin-top: 13px;
    text-align: center;
    border: 2px solid #f26464;
    background-color: #f6f8fa;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #f26464;
    text-align: center;
    letter-spacing: 3px;
}
#DETAILS:hover {
    height: 50px;
    width: 135px;
    margin-top: 13px;
    text-align: center;
    background-color: #f26464;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #f6f8fa;
    text-align: center;
    letter-spacing: 3px;
}
#Pic2 {
    width: 470px;
    height: 440px;
}
#P4 {
    color: #767779 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
}
#P5 {
    color: white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 49px;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-bottom: 10px
}
#P6 {
    color: white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 30px;
}
#P7 {
    color: white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 30px;
}
#LETSTALK {
    height: 50px;
    width: 150px;
    margin-top: 13px;
    margin-bottom: 90px;
    text-align: center;
    border: 2px solid #f26464;
    background-color: black;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #f26464;
    text-align: center;
    letter-spacing: 3px;
}
#LETSTALK:hover {
    height: 50px;
    width: 150px;
    margin-top: 13px;
    text-align: center;
    background-color: #f26464;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}
header {
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 53px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.Second {
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 53px;
}
.Third {
    padding-left: 58px;
    padding-right: 58px;
}
.Fourth {
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 100px;
}
.Fifth {
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 60px;
}
.Sixth {
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 100px;
}
.Seventh {
    height: 490px;
    width: 1519px;
    text-align: center;
    margin-left: -8px;
    margin-right: -100px;
    margin-bottom: -12px;
    background-color: #000000;
    padding-top: 103px;
}

